# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
*/.DS_Store
**/.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ & IDE related
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# iOS & macOS CocoaPods & Ephemeral
**/ios/Flutter/ephemeral/
**/macos/Flutter/ephemeral/
**/ios/Pods/
**/macos/Pods/
**/ios/.symlinks/
**/macos/.symlinks/
**/ios/Flutter/Generated.xcconfig
**/macos/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/macos/Flutter/flutter_export_environment.sh

# Android Studio & Gradle build artifacts
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/captures/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/key.properties

# Security, Certificates & Environment Secrets
.env
.env.*
!.env.example
secrets.json
env.json
*.keystore
*.jks
*.p12
*.key
*.mobileprovision
*.cer
*.crt
*.pem

# Firebase Credentials & Debug Logs
**/android/app/google-services.json
**/ios/Runner/GoogleService-Info.plist
**/macos/Runner/GoogleService-Info.plist
firebase-debug.log
firestore-debug.log
ui-debug.log

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json
